<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Corona Virus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
<div class="container">
<h1>Corona Virus Tracker Application</h1>
<p>this application list the no of cases reported across the globe</p>

<div class="jumbotron">
    <h1 class="display-4" th:text="${totaReportedCases}"></h1>
    <p class="lead">Total Cases reported as of today.</p>
</div>

<table class="table">
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Region</th>
        <th>Total No Of Cases</th>
        <th>changes from last day</th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.region}"></td>
        <td th:text="${locationStat.totalNoCases}">0</td>
        <td th:text="${locationStat.diffFromPrevDay}">0</td>
    </tr>
</table>
</div>
</body>

</html>
